
.box{width: 90%;
     height: 90%;
     background-color: white;
     position: absolute;
     top: 5%;
     left: 5%;
     writing-mode: vertical-rl;
     text-orientation: mixed;
     text-align: center;}
.actor{font-size: 1em;
       font-family: 'Poiret One', cursive;
       position: absolute;
       left: 8%;
       top: 33%;}
.name{font-size: 5em;
      font-family: 'Archivo Black', sans-serif;
      position: absolute;
      left: 0%;
      top: 16%;}
.box2{width: 80%;
      height: 80%;
      background-image: url(img1.jpg);
      background-size: 95%;
      position: absolute;
      right: 7.5%;
      top: 10%;
      align-items: center;
      border-style: solid;
      border-width: 10px;
      border-color: black;}
.mini{width: 10%;
     height: 100%;
     background-color: white;
     transition-property: all;
     transition-duration: 1s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
   float: left;}
      .mini:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
         }
            
    @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
    .mini2{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 7%;
    }
      .mini2:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
  
  .mini3{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 17%;
    }
      .mini3:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}

   .mini4{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 37%;
    }
      .mini4:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
     .mini5{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 47%;
    }
      .mini5:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
     .mini6{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 57%;
    }
      .mini6:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
     .mini7{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 77%;
    }
      .mini7:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}
     .mini8{width: 6%;
     height: 50%;
     background-color: black;
     color: white;
     transition-property: all;
     transition-duration: 0.5s;
    transform: scale(1, 1);
    animation: off;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute; top: 0px; left: 87%;
    }
      .mini8:hover {transform: scale(0.5,0.5);
           animation-play-state: running;
           align-items: center;}
            
     @keyframes off{0% {opacity: 1}
    100%{opacity: 0}}